<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="./view/js/arq.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>GeoStatics</title>
</head>
<body>
    <div id ="map" class="w-100 h-100 position-absolute">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwPDZP0PTnhrpv339qXMKXV3XX39FbSZc&callback=initMap" async defer></script>
</body>
</html>